*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Albert Sans', sans-serif;
}

.accordions{
	width: 600px;
	margin: 0 auto;
	border: 1px solid #ccc;
}
.accordion-item input[type=radio]{
	display: none;
}
.accordion-item label{
	display: block;
	border: 1px solid 	#DDA0DD;
	background: 	#DDA0DD;
	cursor: pointer;
	padding: 7px 4px;
	font-weight: bold;
}
.accordion-content{
	height: 0px;
	overflow: hidden;
	transition: height 0.3s ease-in-out;
	text-align: center;
	

}
h2{
	text-align: center;
	margin-top: 10px;
	margin-bottom: 20px;
}
.accordion-content input{
	width: 70px;
	border: none;
	border-bottom: 2px solid #800080;
	outline: none;
	text-align: center;
	background-color: transparent;
	font-size: 20px;
	font-weight: bold;

	
}
.reais{
	margin-right: -15px;
	background-color: transparent;
	color: #800080;
	font-size: 17px;
	

}
.calculo-juros{
	margin-bottom: 20px;
}

[id^=accordion]:checked ~ .accordion-content{
	height: 150px;
}
.simbolo-porcentagem{
	margin-left: -23px;
	font-size: 17px;
	margin-right: 30px;
	background-color: transparent;
	color:#800080;
}
.divisor{
	margin-left: 10px;
	margin-right: 10px;
}
.fa-solid{
	color: blue;
}
.mostrar-resultado{
	font-size: 25px;
}